header{
	background: #333;

	nav {
		background: #333;
		padding: 20px;
		.container{
			margin: auto;
		}
	}
}

ul.menu {
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		display: inline;
		padding:8px 50px;
		font-size: 0.8rem;
		border-right: 1px solid #555;
		margin: auto ;
		a {
			font-family: $Montserrat;
			font-size: 1.3rem;
			padding: 10px;
			color: white;
			&:hover{
				color:#666;
			}
		}

		&:last-of-type{
			border: 0;
		}
	}
}

