header{
	background: #333;

	nav{
		background: #3C3837;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		.container{
			margin: auto;
		}

		.logo img {
			width: 30px;
			margin-left: 30px;
		}
	}
}



ul.menu {
	margin: 0;
	padding: 0;
	text-align: center;
	flex-grow: 1;
	margin: auto;


	li {
		display: inline;
		padding:8px 50px;
		font-size: 0.8rem;
		border-right: 1px solid #555;
		margin: auto ;
		a {
			font-family: $Montserrat;
			font-size: 1.3rem;
			padding: 10px;
			color: white;
			&:hover{
				color:#666;
			}
		}

		&:last-of-type{
			border: 0;
		}
	}
}

