.sidebar {
	width: 30%;
	float: left;
	padding: 5px;
	margin-left: 50px;
	ul {
		margin: 0;
		padding: 0;
		
		li {
			list-style: none;
			a{
				font-family: $Crimson;
				font-size: 1.8rem;
			}
			li:last-child{
				margin-bottom: 20px;
			}
			h3{
				font-size: 1.6rem;
				border-top: 1px solid #ddd;
				padding-top: 40px;
			}

		}

	}

}



form {
	position: relative;
	input[type=search] {
		padding: 10px 20px;
		width: 80%;
		font-family: $Crimson;
		font-size: 1.8rem;
	}

	.fa-search{
		position: absolute;
		top: 0;
		left: 78%;
		padding: 15px;
	}
}

.tagcloud {
		display: flex;
		flex-wrap: wrap;

	a{
		border:1px solid $gold ;
		border-radius: 2px;
		padding: 10px 20px;
		margin: 5px;
		display: inline-block;
		flex-grow: 1;
		text-align: center;
		&:hover{
			background: $gold;
			color: #fff;
		}
	}
}



